/* styles.css */
#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
video {
    width: 100%;
    max-width: 640px;
    border-radius: 0.5rem;;
}
